<% content_for :title_bar do %>
  <h1>
    Vocabularies
    <%= link_to 'Add vocabulary', new_vocabulary_path, class: 'btn btn-default pull-right' if user_signed_in? %>
  </h1>
<% end %>

<h2>
  <i class="fa fa-bars" style="color:#428bca;"></i>
  Terms
</h2>
<div class="row">
  <div class="col-sm-4">
    <ul class="list-unstyled">
      <% for term in @vocabularies.arrange_as_tree do %>
        <%= content_tag :li do %>
          <%= link_to term.prefered_term.name, term, style: "#{'margin-left:'+(term.depth*20).to_s+'px'}; #{'font-weight:bold;margin-top:10px;' if term.root?}" %> 
          <%= content_tag :span, term.record_type, class: 'text-muted pull-right', style: 'font-size:85%;' %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>