<% content_for :content do %>
<div id="wrap">
  <div class="container form-signin" style="margin-bottom:50px; margin-top:70px;">
    <%= yield %>
  </div> <!-- /container -->
  <div id="push"></div>
</div>
<% end %>

<%= render :template => 'layouts/application' %>